@page "/"
@using GameStore.Frontend.Models

<PageTitle>Home</PageTitle>

<table class="table table-striped table-bordered table-hover">
	<thead class="table-dark">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
			@foreach (var gameSummary in gameSummaries)
			{
				<tr>
					<td>@gameSummary.Id</td>
					<td>@gameSummary.Name</td>
					<td>@gameSummary.Price</td>
					<td>@gameSummary.Genre</td>
					<td>@gameSummary.ReleaseDate</td>
				</tr>
			}
	</tbody>
</table>

@code {
	private List<GameSummary> gameSummaries = 
	[
		new GameSummary { Id = 1, Genre = "Fighting", Name = "Street Fighter II", Price = 19.99M, ReleaseDate = new DateOnly(1992,7,15) },
		new GameSummary { Id = 2, Genre = "RolePlaying", Name = "Final Fantasy XIV", Price = 59.99M, ReleaseDate = new DateOnly(2010,9,30) },
		new GameSummary { Id = 3, Genre = "Sports", Name = "FIFA Soccer 23", Price = 69.99M, ReleaseDate = new DateOnly(2022,9,27) }
	];

}